/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/css/aplicativo.css
public/css/bootstrap-grid.css
public/css/bootstrap.css
public/css/font-awesome.css
public/css/font-awesome.min.css
public/css/index.css
public/css/login.css
public/css/sistema.css
public/img/1.jpg
public/img/2.jpg
public/img/3.jpg
public/img/app.png
public/img/AppRevise.png
public/img/backgroundLogin - Copia.png
public/img/backgroundLogin.jpg
public/img/button_download_android.png
public/img/button_download_ios.png
public/img/fundo_index.jpeg
public/img/icon/facebookIcon.png
public/img/icon/githubIcon.png
public/img/icon/InstagramIcon.png
public/img/icon/twitterIcon.png
public/img/icon/YoutubeIcon.png
public/img/integrantes/bruno.jpeg
public/img/integrantes/fe.jpeg
public/img/integrantes/katry.jpeg
public/img/integrantes/lucas.jpeg
resources/views/welcome.blade.php
resources/views/sobre.blade.php
resources/views/redirecionamento.blade.php
resources/views/planos.blade.php
resources/views/login.blade.php
resources/views/cadastro_juridico.blade.php
resources/views/cadastro.blade.php
resources/views/aplicativo.blade.php
public/js/wow.js
public/js/index.js
public/img/user.jpg
public/img/scanner_automotivo_universal_obd2_bluetooth_versao_2018_v2_1_271_2_20190328133105.png
public/img/pitch_oficial.mp4
public/img/Pitch - Revise.mp4
public/img/note_app.png
public/img/nexus5x-landscape.png
public/img/logo1.png
public/img/logo.png
public/img/iphone8spacegrey_landscape.png
public/img/integrantes/luiz.jpeg
